<!doctype html>
<html lang="ja">

{% load static %}
<head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'bicycle_borrow_sub_sys/style.css' %}">
</head>

<body>
	<header>
			<div class="header-logo">
				返す画面
				<span class="hello">こんにちは {{ user.username }} さん。</span>
			</div>
			<div class="header-list">
				<ul>
					<li><a href="{% url 'accounts:logout' %}" class="logout">ログアウト</a></li>
					<li><a href="{% url 'bicycle_borrow_sub_sys:return_bicycle' %}" class="logout">戻る</a></li>
					<li><a href="{% url 'bicycle_borrow_sub_sys:top' %}" class="logout">トップに戻る</a></li>
				</ul>
			</div>
	</header>
	<div class="main">
		<div class="message">
			この自転車を返却しますか。
		</div>
		  
		  <table>
		    <tr>
		      <th>返却先</th>
		      <th>元事務所</th>
		      <th>自転車番号</th>
		      <th>自転車の色</th>
		      <th></th>
		    </tr>
		
		
		    <tr>
		     <td>{{data2.office_name}}</td>
		     <td>{{data.office_id.office_name}}</td>
		     <td>{{data.bicycle_id}}</td>
		     <td>{% if data.color == 0 %}ピンク{% endif %}{% if data.color == 1 %}オレンジ{% endif %}{% if data.color == 2 %}グリーン{% endif %}</td>
		    </tr>
		    
		   </table>
		   
		   <form action="{% url 'bicycle_borrow_sub_sys:returned' data.bicycle_id %}" method="post" ">{% csrf_token %}
		   <p>
		   <input type="hidden" name="bicycle" value="{{data.bicycle_id}}">
		   <input type="hidden" name="office" value="{{data2.office_id}}">
		   <input type="submit" value="返却する">
		   </p>
	</div>
</body>
</html>